.anima {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

// animacion menu celular
@keyframes menuAbierto {
  from {
    height: 0rem;
  }
  to {
    height: 100dvh;
  }
}
@keyframes menuCerrado {
  from {
    height: 100dvh;
  }
  to {
    height: 0rem;
  }
}

.menuFullAbierto {
  animation: menuAbierto 1.2s ease forwards;
  ul {
    display: block;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.desanimaMenu {
  animation: menuCerrado 1s ease backwards;
}

//  animacion mostrar submenu
@keyframes mostrar {
  0% {
    top: 50dvh;
    opacity: 0;
  }
  60% {
    top: 70dvh;
    opacity: 0;
  }
  100% {
    top: 70dvh;
    opacity: 1;
  }
}
// @keyframes esconder{
//   from{
//     top: 47%;
//     opacity: 1;
//   }
//   to{
//     top: 50%;
//     opacity: 0;
//   }
//   }

// mostrar el boton de ingresa en el menu en celular
.mostrar {
  display: block !important;
  animation: mostrar 1.2s ease forwards;
}

// mostrar sub-menu
.mostrar-submenu {
  display: block !important;
}

// animo el submenu
@keyframes submenu {
  from {
    opacity: 0;
scale:.9;
}
to {
  opacity: 1;
  scale:1;

}
}
#sub-menu {
  animation: submenu 0.6s ease forwards;
}

// animacion de las tabs en el home

@keyframes tabs {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
// animo los tabs
.contetab {
  animation: tabs 1s;
}