@use "variables" as *;

// mixin

// todos los botones
@mixin botones($oscuro, $sinicono) {
  display: inline-block;
  border-radius: $round;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  @if ($sinicono) {
    padding: 0.5rem 1.4rem;
  }
  background: $azul-grisaseo;
  color: $naranja;
  position: relative;
  &:after {
    content: "";
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background: url("../public/flecha-brn-oscuro.svg") no-repeat;
    background-size: 70%;
    top: 15%;
    right: -2%;
    position: absolute;
  }

  //   boton con fondo oscuro
  @if ($oscuro) {
    color: $azul-oscuro;
    background: $naranja;
    &:after {
      content: "";
      height: 100%;
      width: auto;
      aspect-ratio: 1/1;
      background: url("../public/flecha-brn-claro.svg") no-repeat;
      background-size: 70%;
      @if ($sinicono) {
        background: none;
      }
      top: 15%;
      right: -2%;
      position: absolute;
    }
  }
}

@mixin heroe($fondosvg, $colora, $colorb) {
  &:before {
    content: "";
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    @include cel{
      clip-path: polygon(0 0%, 100% 0, 100% 93%, 0% 100%);
    }
    @include hd{
      clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    }
    @include hdplus{
      clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    }
    // #{$fondosvg}
    background: $azul-grisaseo;
    background: url( #{$fondosvg}), linear-gradient(
      308deg,
      $colora 0%,
      $colorb 100%
    );
    background-repeat: no-repeat;
    background-size: cover, 100%;
    background-position: 0px 0px, 0px 0px;
    background-blend-mode: overlay;
    width: 101%;
    height: 101%;
    top: -1%;
    left: -1%;
    border: solid;
    position: absolute;
    z-index: -1;
  }
  position: relative;
  min-height: 100px;
  max-height: 8000px;
  // height: auto;
  // overflow: hidden;
  text-align: center;
  padding-bottom: 6rem;
  h1,
  h2,
  p {
    padding: 0 25%;
    @include cel{
      padding: 0 5%;
    }
  }
  p {
    color: #fff;
    margin: $margen 0;
  }
  span {
    color: #fff;
    font-weight: bold;
  }
}
// clases

// clase que centra los contenidos
.bandeja {
  width: min(100% - 5rem, 60rem);
  margin-inline: auto;

  @include hd {
    width: min(100% - 5rem, 70rem);
  }

  @include hdplus {
    width: min(100% - 5rem, 90rem);
  }
}

// menu principal
nav {
  @include cel{
    display: none;
  }
  @extend .bandeja;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6%;

  a {
    color: #fff;
  }
  ul {
    display: inherit;
    align-items: center;
    gap: 1rem;
  }
  li {
    display: flex;
    padding: 2rem 0;
    img {
      padding-left: 0.3rem;
    }
    // submenu
    ul {
      width: 80vw;
      background: $azul-oscuro;
      border-radius: $round;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      position: absolute;
      z-index: 999;
      top: 3.4rem;
      left: 0%;
      display: none;
      li a {
        display: flex;
        text-align: left;       
        h2 {
          padding: 0!important;
          font-size: clamp(.7rem, 1.4vw, 17vw);
        }
        p {
          padding: 0!important;
          font-size: clamp(10px, 1.1vw, 16px);
        }
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
}
.hero-home {
  $url: "/public/fondo-home.svg";
  @include heroe($url, #515B98, #361B4C);
}
.btn-claro {
  @include botones($oscuro: true, $sinicono: false);
}
.btn-oscuro {
  @include botones($oscuro: false, $sinicono: false);
}
.btn-sinicono {
  @include botones($oscuro: true, $sinicono: true);
}
