@use "variables" as *;
@use "animaciones" as *;

// mixin

// todos los botones
@mixin botones($oscuro, $sinicono, $bordes) {
  display: inline-block;
  border-radius: $round;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  background: $azul-grisaseo;
  color: $naranja;
  position: relative;
  &:after {
    content: "";
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background: url("../public/flecha-brn-oscuro.svg") no-repeat;
    background-size: 70%;
    top: 15%;
    right: -2%;
    position: absolute;
  }
  @if ($bordes) {
    background: transparent !important;
    border: solid 1px $naranja;
    color: $naranja !important;
  }
  @if ($sinicono) {
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    img {
      margin: -0.3rem -0.6rem -0.3rem 0.3rem;
      height: 1.6rem;
    }
  }

  //   boton con fondo oscuro
  @if ($oscuro) {
    color: $azul-oscuro;
    background: $naranja;
    &:hover {
      color: $azul;
    }
    &:after {
      content: "";
      height: 100%;
      width: auto;
      aspect-ratio: 1/1;
      background: url("../public/flecha-brn-claro.svg") no-repeat;
      background-size: 70%;
      @if ($sinicono) {
        background: none;
      }
      top: 15%;
      right: -2%;
      position: absolute;
    }
  }
}

@mixin heroe($fondosvg, $colora, $colorb) {
  padding-top: 20vh;
  &:before {
    content: "";
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    @include cel {
      clip-path: polygon(0 0%, 100% 0, 100% 93%, 0% 100%);
    }
    @include hd {
      clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    }
    @include hdplus {
      clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
      // clip-path:polygon(-100vmax -100vmax, 100% -100vmax, 100% 90vmax, -100vmax 100%,);
    }

    background: $azul-grisaseo;
    background: url(#{$fondosvg}),
      linear-gradient(308deg, $colora 0%, $colorb 100%);
    background-repeat: no-repeat;
    background-size: cover, 100%;
    background-position: 0px 0px, 0px 0px;
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: -1;
  }
  position: relative;
  min-height: 100px;
  max-height: 8000px;
  text-align: center;
  padding-bottom: $margen-doble;
  h1,
  h2,
  p {
    padding: 0 25%;
    @include cel {
      padding: 0 5%;
    }
  }
  h2{
    color: #fff;
    padding-top: $margen;
  }
  p {
    color: #fff;
    margin: $margen 0;
  }
  span {
    color: #fff;
    font-weight: bold;
  }
  .mini{
    font-size: clamp(1rem, 2vw, 1.4rem);
    font-weight: normal;
    transform: translateY(.2rem);
    color: #fff;
  }
}
@mixin cartas() {
  display: flex;
  h2 {
    color: $azul-grisaseo;
  }
  span {
    font-weight: bold;
    color: $papaya;
  }
  .izq,
  .der {
    flex: 1;
    align-items: center;
    display: flex;
  }
  .izq {
    justify-content: center;
  }
  .bandeja-txt {
    width: 70%;
  }
  p {
    padding: 1rem 0;
  }
  b {
    color: $azul;
  }
  .bandeja-img {
    margin: $margen-doble 0;
    position: relative;
    width: 80%;
    height: 70%;
    margin-right: $margen;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:nth-child(2) {
  
        width: 70%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  @include cel {
    flex-wrap: wrap;
    .izq,
    .der {
      flex: 1 0 100%;
    }
    .izq {
      min-height: 20rem;
      text-align: center;
    }
    .der {
      margin-top: 1rem;
      justify-content: center;
      height: 20rem;
    }
    .bandeja-txt {
      width: 85%;
    }
    .bandeja-img {
      width: 80%;
      height: 80%;
      margin-right: 0;
    }
  }
}


// fondo cartas
@mixin fondo-carta($color) {
  background: $morado;
  background: linear-gradient(
    90deg,
    rgba(247, 247, 247, 0) 13%,
    $color 13%,
    $color 100%
  );
  @include cel {
    background: linear-gradient(
      0deg,
      rgba(247, 247, 247, 0) 43%,
      $color 43%,
      $color 100%
    );
  }
}

// clases
// banner dentro de hero
.banner-hero{
text-align: left;
border-radius: $round;
margin: 0 10%;
position: relative;
transform: translateY($margen-doble);
img{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-height: 33rem;
}
p{
  padding: $margen !important;
  width: 60%;
}
background: linear-gradient(
  90deg,
  rgb(212, 114, 5) 0%,
  rgb(212, 114, 5) 60%,
  rgba(212, 114, 5, 0) 100%
  );
  @include cel{
  transform: translateY(0);
  margin: 0%;
  p{
    width: 100%;
  }
  img{
    left: 0%;
    bottom: 0vh;
    transform: rotate(30deg) translateX(-12%) translateY(27vh);
    transform-origin: center;
  }
  background: linear-gradient(
  120deg,
  rgb(212, 114, 5) 0%,
  rgb(212, 114, 5) 60%,
  rgba(212, 114, 5, 0) 100%
);
}
}
// carta simple 
.carta-simple{
  h3{
    color: $azul-grisaseo;
    b{
      color: $papaya;
    }
  }
  p{
    b{
      color: $azul;
    }
  }
  img{
    aspect-ratio: 1/1;
    max-height: 5rem;
  }
  img, h3, p{
    padding-bottom: 1rem;
  }
  max-width: 33%;
}

.fondoanguloazul {
  position: relative;
  padding-bottom: 15%;
  &:before {
    content: "";
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    @include cel {
      clip-path: polygon(0 0%, 100% 0, 100% 93%, 0% 100%);
    }
    @include hd {
      clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    }
    @include hdplus {
      clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    }

    background: linear-gradient(
      0deg,
      $fondo-claro 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: cover, 100%;
    width: 100%;
    height: 100vh;
    bottom: 0%;
    left: 0%;
    position: absolute;
    z-index: -1;
  }
}

// clase que centra los contenidos
.bandeja {
  width: min(100% - 5rem, 70rem);
  margin-inline: auto;

  @include hd {
    width: min(100% - 5rem, 80rem);
  }

  @include hdplus {
    width: min(100% - 5rem, 95rem);
  }
}

// menu principal
nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @extend .bandeja;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margen;
  padding-top: $margen;

  a {
    color: #fff;
  }
  ul {
    display: inherit;
    align-items: center;
    gap: 2rem;
    @extend .anima;
  }
  li {
    display: flex;
    img {
      max-width: 25px;
      padding-left: 0.5rem;
      transform-origin: center;
      @extend .anima;
    }
  }

  @include cel {
    width: 100%;
    padding: $margen;
    #logo {
      position: relative;
      width: auto;
      height: 43px;
      z-index: 99999;
    }
    ul {
      position: absolute;
      background: $azul-grisaseo;
      top: 0px;
      left: 0;
      z-index: 100;
      flex-direction: column;
      width: 100%;
      overflow-y: hidden;
      height: 0rem;
      align-items: center;
      justify-content: center;
      gap: .2rem;
      li {
        padding: .5rem 0;
        img {
          max-width: 30px;
          padding-left: 0.5rem;
          transform-origin: center;
        }
      }
    }
    .btn-claro {
      position: absolute;
      z-index: 9999;
      top: 38%;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
  }
}

// submenu prooudctos
#sub-menu {
  display: none;
  position: absolute;
  top: 6.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  z-index: 99999;
  transform-origin: left;
  @include hdplus {
    width: 30vw;
  }
  ul {
    background: $azul-oscuro;
    border-radius: $round;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    gap: 2rem;
    li {
      display: flex;
      flex: 1 0 30%;
      padding: 0;
    }
    li a {
      display: flex;
      text-align: left;
      padding: 0 0 0 1rem;
      h2 {
        padding: 0 !important;
        font-size: clamp(0.7rem, 1.2vw, 1vw);
        margin-bottom: 0.4rem;
        letter-spacing: normal;
      }
      p {
        padding: initial;
        margin: initial;
        font-size: clamp(10px, 1.1vw, 16px);
        color: #fff;
      }
    }

    @include cel {
      gap: 0rem !important;
      li a p {
        font-size: 0.9rem !important;
      }
    }
  }

  #cerrar {
    position: absolute;
    top: -10px;
    // top: -56px;
    right: 0px;
    z-index: 9999;
    display: none;
    @include cel {
      display: inline-flex;
    }
  }
  @include cel {
    top: 7rem;
    width: 90vw;

    ul {
      gap: 1.4rem;
    }
    li {
      flex: 1 0 100% !important;
      img {
        width: 35px;
      }
      a {
        h2 {
          font-size: 1.2rem !important;
        }
        p {
          font-size: 1rem !important;
        }
      }
    }
  }
}

.rotar-flecha {
  @extend .anima;
  transform: rotate(180deg);
}

// boton de hamburguesa
.menu-toggle {
  position: absolute;
  display: none;
  @include cel {
    display: block;
    z-index: 99000;
  }
  right: 5vh;
  top: 3.5rem;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid;
  color: $gris;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}
button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}
// Tabs home
#tabsGetabed {
  #componente {
    margin-top: $margen-doble;
    padding: 0 10%;
    display: flex;

    #barratabs {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      align-items: stretch;
      align-content: space-between;
      a {
        transform: scale(1);
        transform: none;
        color: $azul-grisaseo;
      }

      .tab {
        flex: 1 0 100%;
        padding: 1.5rem $margen;
        position: relative;
        h3 {
          font-size: clamp(1.3rem, 1.5vw, 2rem);
          color: $azul;
        }
      }
      .tabactivo {
        background: rgb(247, 247, 247);
        background: linear-gradient(
          90deg,
          rgba(247, 247, 247, 0) 70%,
          rgba(203, 172, 248, 1) 100%
        );
        h3 {
          color: $papaya;
        }
        &:after {
          content: "";
          z-index: 200;
          position: absolute;
          right: -58px;
          top: 50%;
          transform: translateY(-50%);
          width: 0px;
          height: 0px;
          border-left: 30px solid $morado;
          border-right: 30px solid transparent;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
        }
        @include cel {
          background: linear-gradient(
            180deg,
            rgba(247, 247, 247, 0) 50%,
            rgba(203, 172, 248, 1) 100%
          );
          &:after {
            content: "";
            z-index: 200;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            border-top: 20px solid $morado;
            border-bottom: 20px solid transparent;
          }
        }
      }
    }
    #contenidostab {
      position: relative;
      flex: 2.5;
      height: 60vh;
      .contetab {
        animation: tabs 1s;
        position: absolute;
        top: 0;
        img {
          height: 60vh;
          width: auto;
          object-fit: cover;
        }
        .txt {
          position: absolute;
          width: 60%;
          top: 50%;
          transform: translateY(-50%);
          right: -10%;
          background: $azul-oscuro;
          border-radius: $round;
          padding: 1.5rem;
          color: $gris;
          a {
            margin-top: 0.6rem;
          }
          b {
            color: $naranja;
          }
        }
      }
    }

    @include cel {
      padding: 0%;
      flex-wrap: wrap;
      #barratabs {
        flex: 1 0 100%;
        justify-content: space-between;
        .tab {
          text-align: center;
          padding: 1.5rem 0.7rem;
          p {
            display: none;
          }
          h3 {
            font-size: 1.1rem;
          }
        }
      }
      #contenidostab {
        flex: 1 0 100%;
        .contetab {
          img {
            height: 30vh;
          }
          .txt {
            width: 90%;
            top: 20vh;
            left: 50%;
            transform: translateY(0);
            transform: translateX(-50%);
            background: $azul-oscuro;
            border-radius: $round;
            padding: 1.5rem;
            color: $gris;
            a {
              margin-top: 0.6rem;
            }
            b {
              color: $naranja;
            }
          }
        }
      }
    }
  }
}

.columna {
  margin: $margen 0;
  column-count: 2;
  column-gap: 2rem;
  @include cel {
    column-count: 1;
  }
}

.columna-triple {
  margin: $margen 0;
  column-count: 3;
  column-gap: 2rem;
  @include cel {
    column-count: 1;
  }
}
// banner de pruebas gratis
#prueba-gratis {
  border-radius: $round;
  color: #fff;
  display: flex;
  align-items: center;
  align-items: center;
  margin-top: $margen-doble;
  height: 45vh;
  background: url(/public/fondo-prueba-gratis-banner.svg) no-repeat
    $azul-grisaseo;
  background-blend-mode: multiply;
  background-size: contain;
  .izq {
    flex: 1 0 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .der {
    flex: 1 0 65%;
    padding: $margen;
  }
  h2 {
    color: #fff;
  }
  p {
    margin-bottom: 1rem;
    &:first-of-type {
      font-size: 1.3rem;
    }
  }
  b {
    color: $naranja;
  }
  a {
    margin-right: 1rem;
  }
  @include cel {
    flex-wrap: wrap;
    height: auto;
    background-size: 100% 100%;
    .izq,
    .der {
      flex: 1 0 100%;
    }
    .izq {
      justify-content: left;
      padding: $margen 0 0 $margen;
    }
    a {
      margin-top: 1rem;
    }
  }
}

#contacta {
  margin: $margen-doble 0;
  text-align: center;
  position: relative;
  h2 {
    color: $papaya;
  }
  h4 {
    margin-top: $margen;
  }
  p {
    margin-top: 1rem;
    padding: 0 10%;
  }
  .conte-recuadros {
    padding-top: $margen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .recuadro {
    img {
      aspect-ratio: 1/1;
      width: 40px;
      margin-bottom: 0.6rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $azul;
    border-radius: $round;
    color: #fff;
    padding: 1.5rem $margen;
  }
  @include cel {
    .conte-recuadros {
      display: grid;
      margin-bottom: $margen;
    }
  }
}
#form {
  display: none;
  h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  background-color: $azul-grisaseo;
  border-radius: $round;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: $margen;
  z-index: 9999;
  @include cel{
    width: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #cerrarForm{
    position: absolute;
    right: 0;
    top: 0;
  }
}

footer {
  padding: 0 10%;
  margin-bottom: $margen;
  display: flex;
  flex-wrap: wrap;
  gap: $margen;
  align-items: center;
  h3 {
    color: $papaya;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  #unete,
  #redes {
    flex: 1;
  }
  p {
    flex: 3;
  }
  #redes {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  #terminos {
    border-top: 1px solid $azul-grisaseo;
    padding-top: $margen;
    text-align: center;
    flex: 1 0 100%;
    font-size: 0.7rem;
    a{
      margin-left: 1rem;
    }
  }
  @include cel {
    padding: 0;
    #unete,
    #redes,
    p {
      flex: 1 0 100%;
      text-align: center;
    }
    #terminos {
      font-size: 0.9rem;
    }
  }
}

// clases basadas en mixin
.hero-home {
  $url: "/public/fondo-home.svg";
  @include heroe($url, #515b98, #361b4c);
  a {
    margin-bottom: 1rem;
  }
}

.hero-historia {
  $url: "/public/fondo-home.svg";
  margin-bottom: $margen-doble;
  @include heroe($url, #515b98, #361b4c);
  padding-bottom: 0;
  background-color: $azul-grisaseo;
  clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
  @include cel {
    clip-path: polygon(0 0%, 100% 0, 100% 93%, 0% 100%);
  }
  @include hd {
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
  }
  @include hdplus {
    clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
  }
  @include cel{
    img{
      padding: 0 $margen;
    }
  }
}
.hero-precios{
  $url: "/public/precios/fondo-precios-hero-getabed.svg";
  @include heroe($url, #515b98, #361b4c);
  position: relative;

  &:before {
    content: "";
    clip-path: polygon(0 0%, 100% 0, 100% 80%, 0% 90%);
    @include cel {
      clip-path: polygon(0 0%, 100% 0, 100% 83%, 0% 90%);
    }
    @include hd {
      clip-path: polygon(0 0%, 100% 0, 100% 80%, 0% 90%);
    }
    @include hdplus {
      clip-path: polygon(0 0%, 100% 0, 100% 75%, 0% 90%);
      // clip-path:polygon(-100vmax -100vmax, 100% -100vmax, 100% 90vmax, -100vmax 100%,);
    }
  }
}
.hero-atencion{
  $url: "/atencion/fondo-atencion-getabed.svg";
  @include heroe($url, #515b98, #361b4c);
  margin-bottom: $margen-doble;

}

// botones
.btn-claro {
  @include botones($oscuro: true, $sinicono: false, $bordes: false);
}
.btn-oscuro {
  @include botones($oscuro: false, $sinicono: false, $bordes: false);
}
.btn-sinicono {
  @include botones($oscuro: true, $sinicono: true, $bordes: false);
}
.btn-bordes {
  @include botones($oscuro: true, $sinicono: true, $bordes: true);
}

// cartas

.getcarta {
  @include cartas();
}

// fondo cartas
// fondos
.fondo-morado {
  @include fondo-carta($morado);
}
.fondo-naranja {
  @include fondo-carta($naranja);
}
.fondo-azul-gris {
  @include fondo-carta($azul-grisaseo);
}
.fondo-azul-oscuro {
  @include fondo-carta($azul-oscuro);
}
.fondo-azul {
  @include fondo-carta($azul);
}

.fondo-zigzag {
  .getcarta {
    .der {
      @include fondo-carta($morado);
    }
  }
  .getcarta:nth-child(2n + 0) {
    .izq {
      order: 2;
    }
    .der {
      order: 1;
      justify-content: right;
      background: linear-gradient(
        270deg,
        rgba(247, 247, 247, 0) 13%,
        $naranja 13%,
        $naranja 100%
      );
      @include cel {
        background: linear-gradient(
          0deg,
          rgba(247, 247, 247, 0) 43%,
          $naranja 43%,
          $naranja 100%
        );
      }
      .bandeja-img {
        margin-right: 0;
      }
    }
    @include cel {
      .izq {
        order: 1;
      }
      .der {
        justify-content: center;
      }
    }
  }
  .getcarta:nth-child(3n + 0) {
    .der {
      @include fondo-carta($azul-grisaseo);
    }
  }
}
